.button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 12px 46px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.button:hover {
  border-color: #fff;
}
