.container {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  min-width: 320px;
  max-width: 760px;
  width: -webkit-fill-available;
  gap: 12px;
  padding: 0 16px;
}

p {
  color: black;
}
h1 {
  padding-top: 30px;
  font-family: cursive;
  font-size: 45px;
  margin-bottom: 18px;
  margin: 0;
  font-weight: 600;
}
