.suggestion-item {
  padding: 0px 0px;
  width: -webkit-fill-available;
  justify-content: left;
  text-align: left;
}
.text-blue {
  color: cadetblue;
}
.text-success {
  color: green;
}

.error-text {
  text-decoration: underline wavy red;
  color: red;
}
.suggestion-box {
  background: gray;
  padding: 12px;
  border-radius: 12px;
}
