.suggestion-item {
  padding: 0px 0px;
  width: -webkit-fill-available;
  justify-content: left;
  text-align: left;
}
.text-blue {
  color: blue;
}
.text-success {
  color: green;
}
.no-error-div {
}

.error-text {
  text-decoration: underline wavy red;
}
.suggestion-box {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid gray;
  margin-top: 54px;
  color: black;
}
